<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../../static/assets/styles/bootstrap-5.3.8-dist/css/bootstrap.css">
  <meta charset="UTF-8">
    <title>Title</title>
</head>
<h1 style="padding :40px; text-align: center;">events details</h1>
<div style="font-size: 40px;">
<body style="background-color">
<h1 style="text-align:center ">EVENT DETAILS</h1>
<div style="width:20% align:center">
<form class="row g-3 p">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label"><b>title</b></label>
    <input type="title" class="form-control" id="title">
  </div>
  <br>

  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">date</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div>
  <br>
  <div class="col-4">
    <label for="inputAddress" class="form-label">location</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <br>
  <div class="col-4">
    <label for="inputAddress2" class="form-label">description</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="kasarani">
  </div>

</form>
</div>

</body>
  </div>
</html>