{% extends 'base.html' %}
{% block tittle %}
event_list
{% endblock %}
{% block content %}


<H1>EVENT LIST</H1>
<table style="width:100%">
    <tr>
        <th>title</th>
        <th>date</th>
        <th>location</th>
        <th>description</th>

    </tr>
    <tr>
        <td>dance</td>
        <td>23rd jan</td>
        <td>Nakuru</td>
        <td>secular</td>
    </tr>
    <tr>
        <td>Kesha night</td>
        <td>34rd april</td>
        <td>Nairobi</td>
        <td>gospel</td>
    </tr>
    <tr>

        <td>break down dance</td>
        <td>14 may</td>
        <td>kenya</td>
        <td>secular</td>

    </tr>
      <tr>

        <td>tour</td>
        <td>14 may</td>
        <td>kenya</td>
        <td>meusium</td>

    </tr>
      <tr>

        <td>tour</td>
        <td>14 may</td>
        <td>kenya</td>
        <td>meusium</td>

    </tr>
      <tr>

        <td>cross over</td>
        <td>18 may</td>
        <td>kenya</td>
        <td>gospel</td>

    </tr>
      <tr>

        <td>tour</td>
        <td>14 may</td>
        <td>kenya</td>
        <td>meusium</td>

    </tr>
      <tr>

        <td>indipendence</td>
        <td>14 feb</td>
        <td>kenya</td>
        <td>indipendence</td>

    </tr>
      <tr>

        <td>mashujah</td>
        <td>14 march</td>
        <td>kenya</td>
        <td>national</td>

    </tr>


</table>
<button style="md-12">back</button>

{% endblock %}


