{% extends 'base.html' %}
{% block tittle %}
event details
{% endblock %}
{% block content %}


<h1 style="padding :40px; text-align: center;">events details</h1>

<body style="background-color">
<div>

<h1 style="text-align:center ">EVENT DETAILS</h1>
<div class="keni">
<form class="formdetails" >
    <label for="">title</label><br>
<label>
    <input type="text">
</label><br>
<label for="">date:</label><br>
<label>
    <input type="text">
</label><br>
     <label for="">location</label><br>
<label>
    <input type="text">
</label><br>
    <label for="">description</label><br>
<label>
    <input type="email">
</label><br><br>
    <a href="school.html"><button>SUBMIT</button></a>
</form>

</div>
</div>

{% endblock %}


