<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="../../static/assets/styles/main.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="about">
<h2 style="padding">Welcome home</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3854.7091287583953!2d35.722688474802375!3d-0.25177459974574656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182a3de2d797eda9%3A0xe2c6be376e8d96b5!2sRehoboth%20mission%20center%20molo%2CNakuru!5e1!3m2!1sen!2ske!4v1770985454295!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</body>
</html>